use flake

function transact {
	args=("$@")
	valor=$(printf '"valor": %d' ${args[2]})
	tipo=$(printf '"tipo": "%s"' ${args[3]})
	body=$(printf '{"descricao": "teste", %s, %s}' $valor $tipo)
	url=$(printf 'http://localhost:4000/clientes/%d/transacoes' ${args[1]})

	echo $valor
	echo $tipo
	echo $url

	curl -X POST -H 'content-type: application/json' -d $body $url
}
